.reviewStats {
  height: 100px;
  width: 100%;
  font-size: 10px;
  margin: 2px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(197, 203, 213);
}

.rating {
  display:inline-block;
  padding: 5px;
  width: 23%;
}

.starRatings {
  width:80%;
}

.avgRatingScore{
  font-size: 20px;
}
.widget-svg{
  height: 15px;
  width: 15px;
}

.percentBar {
  width: 70%;
}

.ProsAndCons {
  display: inline-block;
  padding: 5px;
}

.proButtons{
  display: block;
  margin: 5px;
}